/*General*/
body{
 /*background: #f2f3ee url('images/bg-tile.gif');*/
 color:#4b2707;
 font-size: 14px;
 font-family: 'Open Sans','Helvetica Neue',Arial, Helvetica, sans-serif;
 -webkit-font-smoothing: antialised;
 text-rendering: optimizeLegibility;   
/* overflow-x: hidden;*/
}

.container{
   /* width:500px;*/
    margin:auto;
    /*padding:30px 24px;*/
}



/*img{
    max-width: 100%;
    height:auto;
    
}

/*Typography*/


header.main{
    background:-webkit-linear-gradient(#268b1d,#031402 );
    color:#f2f3ee;
    padding:20px;
    
}


.Head{
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial, Helvetica, sans-serif;
    font-weight: bold;
    display:inline-block;
    color:white;
    font-size: 35px;
    background: none;
    padding:20px 0 0 0px;
    font-style: italic;
    text-shadow:5px 5px 5px white;
    
}
.logo{
   width: 80px;
   height: 80px;
   float:left;
   
   
}

h1,h2 {
    color: #d17f38;
    font-size: 40px;
    font-weight: normal;
    font-family: 'love Ya Like A Sister', cursive;
    line-height: 44px;
    margin:5px;
}

h1{
  text-align: center;
  padding: 5px 5px 20px;
  background:url('images/header-divider.png') bottom center no-repeat;  
}

h1 em{
    margin-top:5px;
    font-style: normal;
    color: #4b2707
}

h2{
    font-size:34px;
}


p.lead{
    font-size:20px;
    font-weight:300;
    text-align:center;
    margin:30px 0;
}

p{
    margin:0;
}

a:link{
   color:#d17f38;
}

a:visited{
    color:#d17f38;
}

a:hover{
color:white;
}


hr{
    border:none;
    height:33px;
    width:333px;
    margin:30px auto;
    background: url('images/divider.png') center center no-repeat;
}


header nav h3{
    text-align: left;
    margin-left:10px;
}

header nav ul{
    padding:20px 0 0 20px;
    list-style: none;
    
    line-height: 30px;
    float: right;
    background: none;
   /* width:50%;*/
}


header nav ul li{
   display: inline-block;
   padding:0 10px 10px 0;
    
}

header nav ul li a{
text-transform: uppercase;
text-decoration:none;
font-weight:bold;
font-size:14px;

}


header nav ul li a:hover{
color:black;
/*padding-top:20px;*/
background:white solid;
}



ul li.drop-downIcon{
    display: none;
}


@media screen and (max-width:680px){
    ul li:not(:nth-child(1)){
        display:none;
    }
    ul.li.drop-downIcon{
        display:block;
    }
    ul.topnav.reponsive li.drop-downIcon{
        position:absolute;
        top:0;
        right:0;
    }


    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive.li{
        display: inline;
        float:none;
    }
    ul.topnav.responsive.li a{ 
        display: block;
        text-align: left;
    }
    
}




#hero{
   /* background: #e8c04f url('images/bg-tile-yellow.gif') top left repeat;*/
    margin:auto;
    margin-top:10px;
    
}

.image{
   display:block;
   margin-left: auto;
   margin-right:auto;
   float:center;
   
}


/* The Whole Story */

#story-excerpt{
    width:600px;
    margin-right: 24px;
    float:left;
    font-size:16px;
}

/*News & Events */

#articles{
  width: 500px;
  float:left;
  margin-right: 24px; 
}


#feature-image{
    margin-top: 150px;
    float:right;
    
}

#news-events article{
    margin: 20px 0;
    padding-left:55px;
}

#news-events article.news{
    background: url('images/icon-news.png') top left no-repeat;
}


#news-events article.event{
    background: url('images/icon-calendar.png') top left no-repeat;
}

#news-events header time{
color:#d17f38;
font-size: 12px;  
}

#news-events section.excerpt {
    margin:10px 0;
}


#news-events footer{
font-size:12px;
}






/*Footer*/
footer.main{
    background:#4b2707 url('images/bg-tile-brown.gif') top left repeat;
    color:#f2f3ee;
    padding:30px 0;
    margin:3px;
}

footer.main:hover{
    color:#f2f3ee;
}
#copyright, #credits{
    width:240px;
    float:left;
    padding:10px 0 10px 50px;
}

#visit ul{
        text-transform: uppercase;
        
        font-weight:bold;
        text-align: center;
        list-style: none;      
        
}

#visit nav ul{
    list-style: none;
    display:block;
    padding:10px;
  
}

#visit  nav ul li {
    display: inline-block;
    padding:0 10px 10px 0;

}

#visit nav ul li a:hover{
    color:white;
    }

#credits{
   float:right;
   padding-right: 0;
}

#credits a:hover{
    color:white;
}



/*clearfix*/

.clearfix:after{
    visibility: hidden;
    display:block;
    content:"";
    clear:both;
    height:0;

}




















































































































